[submodule "dropbear"]
	path = dropbear
	url = git@github.com:yuvalino/dropbear-forkless.git
[submodule "mksh"]
	path = mksh
	url = git@github.com:yuvalino/mksh-forkless.git
[submodule "toybox"]
	path = toybox
	url = git@github.com:yuvalino/toybox-forkless.git
[submodule "rmsh"]
	path = rmsh
	url = git@github.com:yuvalino/rmsh.git
